{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],
  "customSyntax": "postcss-less",
  "rules": {
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "color-function-notation": null
  }
}
